@charset "UTF-8";

section article {

    flex-grow: 1;
    color: white;
}

#dumbbellImg {
    width: 20%;
    display: block;
    margin: 2px auto 25px;
}

#clockImg {
    width: 18%;
    display: block;
    margin: 10px auto -90px;
}

#secondSection img {
    width: 70%;
    display: block;
    margin: 60px auto -90px;
}

#activityDiv {
    margin-left: 50px;
    margin-right: 50px;
}

.strong {
    font-size: 38px;
    font-weight: 1000;
}

.activityContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.leftBtn,
.rightBtn {
    flex-shrink: 0;
    background-color: #3c7bbaba;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 34px;
    margin: 4px;
}

#healthDiv {
    margin-left: 50px;
    margin-right: 50px;
}

#healthDiv p {
    font-size: 30px;
    color: white;
}

#healthHeaderDiv {
    text-align: center;
    background-color: #3c7bba81;
    color: white;
}

#leftBtn2,
#rightBtn2 {
    flex-shrink: 0;
    background-color: #3c7bbaba;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 34px;
    margin: 4px;
}

#firstSection article:nth-child(1) {
    background-color: #3c7bbaba;
}

#firstSection article:nth-child(2) {
    background-color: #3c7bba6f;
}

#secondSection article:nth-child(1) {
    background-color: #3c7bbadc;
    height: 100%;
}

#secondSection article:nth-child(2) {
    background-color: #3c7bba6f;
    height: 15%;
}

#secondSection article:nth-child(3) {
    background-color: #3c7bbaad;
    height: 84%;
}

#thirdSecArticle {
    background-color: #3c7bba;
    flex: 1.7;
}

#thirdSection .activityContainer {
    background-color: #3c7bba5b;
    height: 100%;
}

/* 
.toggleBenefits {
    width: 200px;
    height: 140px;
    overflow: hidden;
    text-wrap: nowrap;
    transition: transform 2s ease;
    position: relative;
    transform: translateX(100%);
    right: -78%;
    margin: 30px 0px;
    box-shadow: 4px 3px 9px 7px black;
    animation: jiggle 2s ease-in-out infinite;
} */
/* 
.toggleBenefits.visible {
    right: -30px;
    width: 80%;
    animation: slideIn 1s forwards;
    white-space: normal;
}

.toggleBenefits.slideBack {
    animation: slideBack 1s forwards;
} */

#benefitContainer {
    background-color: #3c7bba6f;
    flex: 1;
}

header {
    text-align: center;
    font-size: 32px;
}

#heartImg {
    width: 50%;
    margin-left: 27%;
    margin-top: 20px;
    animation: pulse 1s infinite;
}

#counter {
    font-size: 60px;
    text-align: center;
    margin-bottom: -400px;
}

#counterYesterday {
    font-size: 60px;
    text-align: center;
    margin-bottom: 10px;
}

#firstSection>article:nth-child(1)>header:nth-child(1) {
    margin-bottom: -30px;
}

#thirdSecArticle > header:nth-child(2) > h1:nth-child(1) {
    margin-top: 70px;
}

#headerCounter {
    margin-bottom: -45px;
}

#healthDiv #placeholder {
    font-size: 50px;
    text-decoration: underline;
}

#resElem p {
    margin-top: 10px;
    margin-left: 120px;
    color: black;
    animation: fadeIn 1s;
}

#participateBtn {
    background-color: white;
    color: #3c7bbade;
    padding: 10px 20px;
    font-size: 60px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 10px auto -100px;
    width: 50%;
}

p {
    font-size: 24px;
    text-align: center;
    padding: 5px;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    font-size: 32px;
    text-align: center;
    z-index: 999;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.125);
    }

    100% {
        transform: scale(1);
    }
}

/* @keyframes jiggle {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }
} */
/* 
@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes slideBack {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%)
    }
} */