@charset "UTF-8";

section article {

    flex-grow: 1;
    padding: 15px;
    color: white;
}

#firstSection img {
    width: 50%;
    display: block;
    margin: 60px auto -90px;
}

#secondSection img {
    width: 70%;
    display: block;
    margin: 60px auto -90px;
}

#firstSection article:nth-child(1) {
    background-color: #3c7bbaba;
}

#firstSection article:nth-child(2) {
    background-color: #3c7bba6f;
}

#secondSection article:nth-child(1) {
    background-color: #3c7bbadc;
    height: 100%;
}

#secondSection article:nth-child(2) {
    background-color: #3c7bba6f;
    height: 80%;
}

#secondSection article:nth-child(3) {
    background-color: #3c7bba;
    height: 84%;
}

#thirdSection article:nth-child(1) {
    background-color: #3c7bba;
}

#thirdSection article:nth-child(2) {
    background-color: #3c7bbaba;
}

#thirdSection article:nth-child(3) {
    background-color: #3c7bba6f;
}

/*
#thirdSection > article:nth-child(3) {
    background-image: url('img/158420.png');
    background-repeat: no-repeat;
    background-size: 150px;
}*/

header {
    text-align: center;
    font-size: 32px;
}

#heartImg {
    width: 40%;
    margin-left: 32%;
    animation: pulse 1s infinite;
}

#counter {
    font-size: 60px;
    text-align: center;
    margin-bottom: -400px;
}

#counterYesterday {
    font-size: 60px;
    text-align: center;
    margin-bottom: 10px;
}

#headerCounter {
    margin-bottom: -45px;
}

#resElem p {
    margin-top: 140px;
    margin-left: 140px;
    color: black;
}

#participateBtn {
    background-color: white;
    color: #3c7bbade;
    padding: 10px 20px;
    font-size: 60px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    margin: 50px auto -100px;
    animation: pulse 2s infinite;
    width: 50%;
}

#participateBtn img {
    vertical-align: middle;
    width: 10%;
}

p {
    font-size: 24px;
    text-align: center;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.125);
    }

    100% {
        transform: scale(1);
    }
}