@charset "UTF-8";

section article {

    flex-grow: 1;
    color: white;
}

#dumbbellImg {
    width: 20%;
    display: block;
    margin: 2px auto 25px;
}

#clockImg {
    width: 18%;
    display: block;
    margin: 10px auto -90px;
}

#secondSection img {
    width: 70%;
    display: block;
    margin: 60px auto -90px;
}

#activityDiv {
    margin-left: 50px;
    margin-right: 50px;
}

.strong {
    font-size: 38px;
    font-weight: 1000;
}

.activityContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.leftBtn {
    flex-shrink: 0;
    background-color: #3c7bbaba;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 26px;
    margin: 4px;
    position: absolute;
    margin-left: -440px;
}

.rightBtn {
    flex-shrink: 0;
    background-color: #3c7bbaba;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 26px;
    margin-left: 440px;
    position: absolute;
}

#healthDiv {
    margin-left: 50px;
    margin-right: 50px;
}

#healthDiv p {
    font-size: 26px;
    color: white;
}

#healthHeaderDiv {
    text-align: center;
    background-color: #3c7bba81;
    color: white;
}

#leftBtn2 {
    flex-shrink: 0;
    background-color: #3c7bbaba;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 26px;
    margin: 4px;
    position: absolute;
    margin-left: -440px;
}


#rightBtn2 {
    flex-shrink: 0;
    background-color: #3c7bbaba;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 26px;
    margin: 4px;
    position: absolute;
    margin-left: 440px;
}

#firstSection {
    background-color: #3c7bbaba;
}

#secondSection article:nth-child(1) {
    background-color: #3c7bba;
    height: 100%;
}

#secondSection article:nth-child(2) {
    background-color: #3c7bba;
    height: 15%;
}

#secondSection article:nth-child(3) {
    background-color: #3c7bba;
    height: 84%;
    padding: 15px;
}

#thirdSecArticle {
    background-color: #3c7bbaad;
    flex: 1.7;
}

#thirdSection .activityContainer {
    background-color: #3c7bbaad;
    height: 100%;
}

#benefitContainer {
    flex: 1;
}

header {
    text-align: center;
    font-size: 32px;
}

#heartImg {
    width: 50%;
    margin-left: 27%;
    margin-top: 20px;
}

#counter {
    font-size: 60px;
    text-align: center;
    margin-bottom: -400px;
}

#counterYesterday {
    font-size: 60px;
    text-align: center;
    margin-bottom: 10px;
}

#firstSection>article:nth-child(1)>header:nth-child(1) {
    margin-bottom: -30px;
}

#thirdSecArticle>header:nth-child(2)>h1:nth-child(1) {
    margin-top: 70px;
}

#headerCounter {
    margin-bottom: -45px;
}

#healthDiv #placeholder {
    font-size: 50px;
    text-decoration: underline;
}

#resElem p {
    display: block;
    margin: auto;
    padding: 20px;
    color: white;
    animation: fadeIn 1s;
}

#participateBtn {
    background-color: white;
    color: #3c7bbade;
    padding: 10px 20px;
    font-size: 60px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 10px auto -100px;
    width: 50%;
}

p {
    font-size: 24px;
    text-align: center;
    padding: 5px;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    font-size: 32px;
    text-align: center;
    z-index: 999;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
}